<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon"
	href="/customClothing/resources/images/favicon.ico" />
<title>小清新网-我的关注</title>
<link rel="stylesheet" type="text/css"
	href="/customClothing/resources/bootstrap/css/bootstrap.css">
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 1000px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.infoBorder_1 {
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	background-color: #f5f8fa;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.infoBorder_2 {
	border-width: 1px;
	border-style: none solid solid;
	border-color: #ccc;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.wboxCenterTemp {
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-box-orient: vertical;
	text-align: center;
	float: none;
	vertical-align: middle;
}

.wboxCenter {
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-box-orient: horizontal;
	text-align: center;
	vertical-align: middle;
}

.wboxSubCenter {
	-webkit-box-flex: 1;
}

@media ( min-width : 768px) {
	.form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
	.form-inline .form-control-static {
		display: inline-block;
	}
	.form-inline .input-group {
		display: inline-table;
		vertical-align: middle;
	}
	.form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn,
		.form-inline .input-group .form-control {
		width: auto;
	}
	.form-inline .input-group>.form-control {
		width: 100%;
	}
	.form-inline .control-label {
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline .radio, .form-inline .checkbox {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline .radio label, .form-inline .checkbox label {
		padding-left: 0;
	}
	.form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"]
		{
		position: relative;
		margin-left: 0;
	}
	.form-inline .has-feedback .form-control-feedback {
		top: 0;
	}
}
</style>
</head>

<body style="background: #f8f8f8">

	<div class="container">
		<div class="row">
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalTitle">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalTitle">提 示</h4>
						</div>
						<div class="modal-body">
							<span>退出后，您下次需要重新登录！</span>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary"
								data-dismiss="modal" id="loginOutAffirm">确 定</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header navbar-left">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/customClothing/homepage"> 小清新 </a>
					</div>

					<div class=" col-md-offset-3">
						<div id="navbar" class="collapse navbar-collapse">
							<ul class="nav navbar-nav">
								<li><a href="#" th:text="'欢迎您，' +${#authentication.name}"></a></li>
							</ul>

							<div sec:authorize="isAuthenticated()" class=" col-md-offset-5">
								<ul class="nav navbar-nav " id="accountField">
									<li class="dropdown"><a class="dropdown-toggle" href="#"
										id="accountName" role="button" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false"> <!-- <img alt="用户中心"  th:alt="${#authentication.name}" src="#" width="20px;" height="20px;" id="accountImg" >  -->
											<span>个人中心</span> <span class="caret"></span>
									</a>
										<ul class="dropdown-menu">
											<li><a href="#" th:href="@{/personal/index}">我的首页</a></li>
											<li role="separator" class="divider"></li>
											<li><a href="#" th:href="@{/personal/myOrder}">我的订单</a></li>
											<li role="separator" class="divider"></li>
											<li><a href="#" th:href="@{/personal/myInterest}">我的关注</a></li>
											<li role="separator" class="divider"></li>
											<li><a href="#" th:href="@{/personal/myBodyInfo}">量体信息</a></li>
											<li role="separator" class="divider"></li>
											<li><a href="#" th:href="@{/personal/myAccount}">账号设置</a></li>
										</ul></li>
								</ul>
							</div>


							<div sec:authorize="isAuthenticated()">
								<ul class="nav navbar-nav" id="serviceField">
									<li class="dropdown"><a class="dropdown-toggle" href="#"
										id="service" role="button" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false"> <!-- <img alt="用户中心"  th:alt="${#authentication.name}" src="#" width="20px;" height="20px;" id="accountImg" >  -->
											<span th:text="联系客服"></span> <span class="caret"></span>
									</a>
										<ul class="dropdown-menu">
											<li><a href="#" th:href="@{/personal/index}">在线客服</a></li>
											<li role="separator" class="divider"></li>
											<li><a href="#" th:href="@{/personal/index}">投诉建议</a></li>
										</ul></li>
								</ul>
							</div>

							<div sec:authorize="isAuthenticated()">
								<ul class="nav navbar-nav">
									<li class="dropdown"><a class="dropdown-toggle" href="#"
										id="navbarDropdown" role="button" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false">加盟 <span
											class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="#">设计师加盟</a></li>
											<li role="separator" class="divider"></li>
											<li><a href="#">面料商加盟</a></li>
										</ul> <input type="hidden" id="idFromSession" value=""
										th:value="${session.id}"></li>
								</ul>
							</div>

							<ul class="nav navbar-nav">
								<li></a><a href="#" th:text="消息"></a></li>
							</ul>

							<ul class="nav navbar-nav navbar-right">
								<li><a href="#" id="loginOut">退出</a></li>
							</ul>

						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>

	<div class="container">
		<div class="row">


			<div class="col-md-1 col-md-offset-1 hidden-xs hidden-sm pull-left"
				id="navigationList" style="position: fixed;">
				<div class="list-group">
					<a href="#" th:href="@{/personal/index}" class="list-group-item">我的首页</a>
					<a href="#" th:href="@{/personal/myOrder}" class="list-group-item ">我的订单</a>
					<a href="#" th:href="@{/personal/myInterest}"
						class="list-group-item">我的关注</a> <a href="#"
						th:href="@{/personal/myBodyInfo}"
						class="list-group-item list-group-item-info ">量体信息</a> <a href="#"
						th:href="@{/personal/myAccount}" class="list-group-item">账号设置</a>
				</div>
			</div>


			<div class="col-md-8 col-md-offset-3" id="topDiv">
				<!-- <input type="hidden" name="_csrf" value="" th:value="${_csrf.token}"/>  -->
				<input type="hidden" name="_csrf_header" value=""
					th:value="${_csrf.headerName}" /> <input type="hidden"
					name="_reLogin" value="" th:value="${reLogin}" id="_reLogin" /> <input
					type="hidden" name="_ip" value="" th:value="${ip}" id="_ip" />

				<div class="panel panel-default">
					<div class="panel-heading text-center">
						<h3 class="panel-title" id="panel-title">添加量体信息</h3>
					</div>
					<div class="panel-body ">
						<div class="col-md-2 " id="">
							<a title="点击隐藏" href="javascript:void(0);" class="col-md-offset-1" id="statusFlag">
								<span id="basicInfo" style="">基本信息</span> <span
								class="glyphicon glyphicon-chevron-down " id="openStatus"></span>
								<span class="glyphicon glyphicon-chevron-up " id="closeStatus"
								style="display: none;"></span>
							</a>
						</div>

						<hr style="border: none; border-top: 1px solid #ccc;">

						<div class="" id="basicInfoDiv">
							<form class="form-inline" id="basicInfoForm" method="post"
								action="#" autocomplete="off">

								<div class="form-group " id="nameGroup"
									style="margin-top: 10px;">
									<label for="name" class="control-label col-md-3">姓名</label>
									<div class="col-md-3">
										<input type="text" class="form-control" id="name"
											placeholder="" required name="name" spellcheck="false">
									</div>
								</div>

								<div class="form-group " id="sexGroup" style="margin-top: 10px;">
									<div class="form-group " id="sexGroup" style="margin-top: 10px;">
	                                    <label for="sex" class="control-label col-md-3">性别</label>
	                                    <div class="col-md-3">
	                                    <input type="text" class="form-control" id="sex" placeholder="女或男" required name="sex" spellcheck="false">
	                                    </div>
                                    </div>
								</div>

								<div class="form-group " id="ageGroup" style="margin-top: 10px;">
									<label for="age" class="control-label col-md-3">年龄</label>
									<div class="col-md-3">
										<input type="text" class="form-control" id="age"
											placeholder="" required name="age" spellcheck="false">
									</div>
								</div>



								<div class="form-group " id="heightGroup"
									style="margin-top: 10px;">
									<label for="height" class="control-label col-md-3">身高</label>
									<div class="col-md-3">
										<input type="text" class="form-control" id="height"
											placeholder="单位：cm" required name="height" spellcheck="false">
									</div>
								</div>

								<div class="form-group " id="heftGroup"
									style="margin-top: 10px;">
									<label for="heft" class="control-label col-md-3">体重</label>
									<div class="col-md-3">
										<input type="text" class="form-control" id="heft"
											placeholder="单位：kg" required name="heft" spellcheck="false">
									</div>
								</div>

								<div class="form-group " id="mpnGroup" style="margin-top: 10px;">
									<label for="mpNumber" class="control-label col-md-3">手机</label>
									<div class="col-md-3">
										<input type="text" class="form-control" id="mpNumber"
											placeholder="" required name="mpNumber" spellcheck="false">
									</div>
								</div>

							</form>
							<div class="form-group" style="margin-top: 20px;">
								<div class="input-group col-md-4 col-md-offset-3 col-xs-12 ">
									<button type="button" class="btn btn-default btn-block"
										id="basicInfoSubmit">确 定</button>
								</div>
							</div>
							<div class="form-group ">
								<div class="input-group col-md-6  col-md-offset-2 col-xs-12 ">
									<p id="tip" class="text-center"></p>
								</div>
							</div>
						</div>
						<br>
						<div class="col-md-2 " id="moreInfoTemp">
							<a title="点击隐藏" href="javascript:void(0);" class="col-md-offset-1" id="statusFlag2">
								<span id="moreInfo" style="">量体信息</span> <span
								class="glyphicon glyphicon-chevron-down " id="openStatus2"></span>
								<span class="glyphicon glyphicon-chevron-up " id="closeStatus2"
								style="display: none;"></span>
							</a>
						</div>

						<hr style="border: none; border-top: 1px solid #ccc;">

						<div class="" id="moreInfoDiv">
						
							<form class="form-horizontal">
							    <p>
                                  <a title="点击隐藏" href="javascript:void(0);" class="" id="statusFlag3">
								  <span id="topBody" style="">上身</span>
								  <span class="glyphicon glyphicon-chevron-down " id="openStatus3"></span>
								  <span class="glyphicon glyphicon-chevron-up " id="closeStatus3" style="display: none;"></span>
							      </a>
                                </p>
                                <div id="topBodyDiv">
								<div class="form-group">
									<label for="clothesFrontLengthLine" class="col-sm-2 control-label">前衣长</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="clothesFrontLengthLine"
											placeholder="单位：cm">
									</div>
								</div>
								<div class="form-group">
									<label for="clothesLengthLine" class="col-sm-2 control-label">后衣长</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="clothesLengthLine" placeholder="单位：cm">
									</div>
								</div>
								<div class="form-group">
									<label for="shoulderLine" class="col-sm-2 control-label">肩宽</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="shoulderLine" placeholder="单位：cm">
									</div>
								</div>
								<div class="form-group">
									<label for="outsideSleeveLine" class="col-sm-2 control-label">袖长</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="outsideSleeveLine" placeholder="单位：cm">
									</div>
								</div>
								<div class="form-group">
									<label for="neck" class="col-sm-2 control-label">领围</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="neck" placeholder="单位：cm">
									</div>
								</div>
								<div class="form-group">
									<label for="chest" class="col-sm-2 control-label">胸围</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="chest" placeholder="单位：cm">
									</div>
								</div>
								<div class="form-group">
									<label for="tummy" class="col-sm-2 control-label">中腰</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="tummy" placeholder="单位：cm">
									</div>
								</div>
								<div class="form-group">
									<label for="bellyband" class="col-sm-2 control-label">肚围</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="bellyband" placeholder="单位：cm">
									</div>
								</div>
								<div class="form-group">
									<label for="wrist" class="col-sm-2 control-label">手腕围</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="wrist" placeholder="单位：cm">
									</div>
								</div>
								</div>
								
								<p>
                                  <a title="点击隐藏" href="javascript:void(0);" class="" id="statusFlag4">
								  <span id="underBody" style="">下身</span>
								  <span class="glyphicon glyphicon-chevron-down " id="openStatus4"></span>
								  <span class="glyphicon glyphicon-chevron-up " id="closeStatus4" style="display: none;"></span>
							      </a>
                                </p>
                                
                                <div id="underBodyDiv">
								<div class="form-group">
									<label for="pants" class="col-sm-2 control-label">裤腰围</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="pants" placeholder="单位：cm">
									</div>
								</div>
								<div class="form-group">
									<label for="hipSizeLine" class="col-sm-2 control-label">臀围</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="hipSizeLine" placeholder="单位：cm">
									</div>
								</div>
								<div class="form-group">
									<label for="pantsLengthLine" class="col-sm-2 control-label">裤长</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="pantsLengthLine" placeholder="单位：cm">
									</div>
								</div>
								<div class="form-group">
									<label for="thigh" class="col-sm-2 control-label">腿围</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="thigh" placeholder="单位：cm">
									</div>
								</div>
								<div class="form-group">
									<label for="crotchDepthLine" class="col-sm-2 control-label">总裆</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="crotchDepthLine" placeholder="单位：cm">
									</div>
								</div>
								<div class="form-group">
									<label for="foot" class="col-sm-2 control-label">脚口</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="foot" placeholder="单位：cm">
									</div>
								</div>
								<div class="form-group">
									<label for="kneeLineLine" class="col-sm-2 control-label">膝围</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="kneeLineLine" placeholder="单位：cm">
									</div>
								</div>
								<div class="form-group">
									<label for="calf" class="col-sm-2 control-label">小腿围</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="calf" placeholder="单位：cm">
									</div>
								</div>
								</div>
								
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-4">
										<button type="button" class="btn btn-default btn-block">确 定</button>
									</div>
								</div>
							</form>



						</div>














					</div>
				</div>




			</div>

		</div>
	</div>


	<form action="#" th:action="@{/loginRequest/loginOut}"
		style="display: none;" id="logOutForm" method="post"></form>
	<script type="text/javascript"
		src="/customClothing/resources/js/jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript"
		src="/customClothing/resources/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript"
		src="/customClothing/resources/js/jquery/jquery.cookie.js"></script>

	<script type="text/javascript">
		$(function() {
			// 检测页面是否是当前打开页面的最外层，如果不是，将最外层的地址换成本页面的地址
			// 客户端 frame busting JavaScript 作为对 XFS 的保护
			if (top != self) {
				top.location.replace(self.location.href);
			}
			// if($("#navigationList").is(":hidden")){}

		});

		$("#loginOut").click(function() {
			$('#myModal').modal({
				keyboard : true
			});

			$("#loginOutAffirm").click(function() {
				$.cookie('id', null, {
					expires : -1,
					path : '/'
				});
				// $.cookie('email', null, { expires: -1, path: '/' });
				// window.location.href="/customClothing/homepage";
				// window.location.href="/customClothing/loginRequest/loginOut";
				$("#logOutForm").submit();
			});

			$('#myModal').on('hidden.bs.modal', function(e) {
				// 在模态框消失后要做的事
			});

		});

		// if($('#basicInfoForm').is(':hidden'))
		// if($('#basicInfoForm').is(':visible'))
		$("#statusFlag").click(function() {
			if ($('#openStatus').is(':visible')) {
				$("#openStatus").hide();
				$("#closeStatus").show();
				$('#basicInfoDiv').hide(1000);
				$("#statusFlag").attr("title", "点击显示");
				return;
			}

			if ($('#openStatus').is(':hidden')) {
				$("#closeStatus").hide();
				$("#openStatus").show();
				$('#basicInfoDiv').show(1000);
				$("#statusFlag").attr("title", "点击隐藏");
				return;
			}

		});
		$("#statusFlag2").click(function() {
			if ($('#openStatus2').is(':visible')) {
				$("#openStatus2").hide();
				$("#closeStatus2").show();
				$('#moreInfoDiv').hide(1000);
				$("#statusFlag2").attr("title", "点击显示");
				return;
			}

			if ($('#openStatus2').is(':hidden')) {
				$("#closeStatus2").hide();
				$("#openStatus2").show();
				$('#moreInfoDiv').show(1000);
				$("#statusFlag2").attr("title", "点击隐藏");
				return;
			}

		});
		$("#statusFlag3").click(function() {
			if ($('#openStatus3').is(':visible')) {
				$("#openStatus3").hide();
				$("#closeStatus3").show();
				$('#topBodyDiv').hide(1000);
				$("#statusFlag3").attr("title", "点击显示");
				return;
			}

			if ($('#openStatus3').is(':hidden')) {
				$("#closeStatus3").hide();
				$("#openStatus3").show();
				$('#topBodyDiv').show(1000);
				$("#statusFlag3").attr("title", "点击隐藏");
				return;
			}

		});
		$("#statusFlag4").click(function() {
			if ($('#openStatus4').is(':visible')) {
				$("#openStatus4").hide();
				$("#closeStatus4").show();
				$('#underBodyDiv').hide(1000);
				$("#statusFlag4").attr("title", "点击显示");
				return;
			}

			if ($('#openStatus4').is(':hidden')) {
				$("#closeStatus4").hide();
				$("#openStatus4").show();
				$('#underBodyDiv').show(1000);
				$("#statusFlag4").attr("title", "点击隐藏");
				return;
			}

		});
	</script>



</body>
</html>
