<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/customClothing/resources/images/favicon.ico" />
<title>小清新网-邮箱验证成功</title>
<link rel="stylesheet" type="text/css" href="/customClothing/resources/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/customClothing/resources/fontAwesome/css/font-awesome.min.css">
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<style type="text/css">
#registerForm {
	/* margin-top: 10%; */
	/* margin-left: 30%; */
	
}
</style>

</head>

<body style="background: #f8f8f8">

	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">验证成功</h3>
		</div>
		<div class="panel-body">邮箱验证成功，快来寻找您的设计师吧。</div>
		<div class="panel-footer"><a class="btn btn-default btn-sm" href="/customClothing/homepage">返回主页</a></div>
	</div>



</body>
</html>
